* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(civ-header.png);
  display: flex;
  min-height: 20vh;
  font-size: 3vh;
  font-family: "Penumbra HalfSerif Std";
  color: rgb(190, 171, 106);
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #fae8af, #dfe2ca);
}

nav a {
  font-family: "Penumbra HalfSerif Std";
  text-decoration: none;
  font-style: none;
  color: black;
  padding: 1vw;
  transition: 0.4s;
  font-size: 2.5vh;
}

nav a:hover {
  background-color: rgba(160, 142, 118, 0.527);
}

main {
  background-image: linear-gradient(
    90.5deg,
    rgba(255, 207, 139, 0.5) 1.1%,
    rgba(255, 207, 139, 1) 81.3%
  );
  min-height: 75vh;
  padding: 3vh;
  display: flex;
  justify-content: center;
}

article {
  max-width: 60vw;
}

.articleTitle {
  margin-top: 6vh;
  font-weight: bolder;
  font-size: 2.7vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(19, 18, 18, 0.856);
}

.articleText {
  margin-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9vh;
  color: rgba(19, 18, 18, 0.856);
}

footer {
  bottom: 0%;
  width: 100%;
  background: linear-gradient(to right, #16222a, #3a6073);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 11vh;
  margin-top: auto;
  color: rgb(190, 171, 106);
  font-family: "Penumbra HalfSerif Std";
  font-size: 1.4vh;
}

.hidden {
  display: none;
}

dt {
  margin-top: 4vh;
  font-weight: bolder;
  font-size: 2vh;
  font-family: "Penumbra HalfSerif Std";
  color: rgba(19, 18, 18, 0.856);
}

dd {
  margin-top: 2vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9vh;
  color: rgba(19, 18, 18, 0.856);
  font-weight: bold;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7vh;
  color: rgba(19, 18, 18, 0.856);
  font-weight: bolder;
  margin-top: 1vh;
  list-style-type: disc;
  list-style-position: inside;
}

iframe {
  height: 50vh;
  width: 50vw;
  margin: 4vh;
}

img {
  height: 5vh;
  margin-left: 1vw;
}

.imageContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url();
}
